body{
    margin:0;
    background-image: url(/img/image.jpg);
    background-size: 150%;
}
.block2{
    position: absolute;
    left:350px;
    top:0;
    height:100%;
    width: 700px;
    background-color: #e1e1e1;
    min-width: 600px;
    box-shadow: 0 0 5px #373737;
    border-left: solid 5px #7F7F7F;
    border-right: solid 5px #7F7F7F;
}
.name{
    position: absolute;
    top:0;
    text-align: center;
    width:700px;
}
img{
    position: relative;
    top:20px;
    border:solid 2px #b5e61d;
    box-shadow: 0 0 5px #b5e61d;
    border-radius:50%;
    width: 60px;
    height: 60px;
}
form{
    position: relative;
    top:100px;
    margin-left: 10px;
}